.catalog__wrapper {
  padding: 27px 0 35px;
  margin: 0 auto;
  max-width: 500px;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 896px;
  }

  @media (min-width: $desktop-width) {
    //display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 79px;
    max-width: 1440px;
  }
}

.catalog__title {
  @include title;
  text-transform: none;
  line-height: 36px;
  margin: 0 0 41px 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 53px 0 83px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    margin: 43px 0 83px 110px;
  }
}
