.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &:hover svg {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include text-content;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.copyright__link svg {
  width: 27px;
  height: 34px;
  fill: $special-grey-3;
}
