.example {
  background-color: $special-light-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $special-light-grey 462px, $basic-white 462px, $basic-white);
    border-top: 1px solid $menu-line;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $basic-grey 462px, $basic-white 462px, $basic-white);
    border-top: none;
  }
}

.example__title {
  @include title;
  margin-bottom: 33px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 90px;
  }
}

.example__content {
  @include text-content;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 5px;
    width: 436px;
  }
}

.example__costs {
  @include regular-text;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    text-align: right;
    justify-self: flex-end;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 74px;
    margin-top: 8px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    text-align: left;
    justify-self: flex-start;
    width: 330px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    align-items: flex-start;
    margin-bottom: 10px;
  }
}

.example__wrapper {
  padding: 27px 20px 0;
  box-sizing: border-box;
  margin: 0 auto 15px;
  width: 100%;
  max-width: 600px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding: 45px 30px 0;
    max-width: 900px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 110px;
    max-width: 1440px;
    height: 595px;
  }
}
