.feature-list {
  @include text-content;
  font-size: 12px;
  line-height: 16px;
  width: 142px;
  grid-row: 2/3;
  grid-column: 2/3;
  padding: 0 0 24px;
  border-spacing: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
    width: 100%;
    padding: 0 0 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 5px 33px;
  }
}

.feature-list__item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey-2;
    padding-bottom: 7px;
    padding-top: 8px;
  }
}

.feature-list__description,
.feature-list__value {
  padding: 0;
}
