.form {
  @include form-text;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__input {
  @include form-text;

  border: 1px solid $input-border;

  &--petname,
  &--weight,
  &--age {
    width: auto;
    flex-grow: 1;
  }
}

.form__fieldset--petinfo .form__input {
  height: 45px;
  padding: 13px 15px;
  box-sizing: border-box;
}

.form__fieldset--petinfo .form__label {
  margin-bottom: 13px;
}

.form__textarea {
  @include form-text;
  padding: 10px 15px;
  padding-right: 12px;
  box-sizing: border-box;
  height: 150.5px;
  border: 1px solid $input-border;
  width: auto;
  flex-grow: 1;
}

.form__note {
  @include text-content;
  line-height: 16px;
  text-transform: none;
  color: $basic-black;
  margin: 21px 61px 32px;
  display: block;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: flex-start;
    margin: 21px 0px 32px;
  }
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }
}

.form__fieldset--petinfo,
.form__fieldset--petinfo .form__input::placeholder {
  color: $special-dark-grey;
}

.form__fieldset--programms {
  position: relative;
  padding: 11px 0 20px;

  &::after {
    @include line-element;
    width: auto;
    margin-left: -40px;
    margin-top: 15px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    @include line-element;
    width: auto;
    margin-left: -40px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $line-color;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $basic-black;
}

.form__input--radio,
.form__input--checkbox {
  margin-left: 0;
  margin-right: 15px;
  margin-bottom: 13px;
}

.form__fieldset--contacts {
  padding-top: 35px;
  padding-bottom: 24px;
  color: $special-dark-grey;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__fieldset--contacts .form__input {
  height: 45px;
  padding: 13px 15px;
  box-sizing: border-box;

  &--email {
    width: auto;
    flex-grow: 1;
  }

  &--tel {
    width: auto;
    flex-grow: 1;
  }
}

.form__fieldset--contacts .form__label {
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}

.form__fieldset--comments {
  padding-top: 38px;
  padding-bottom: 23px;
}

.form__fieldset--additional {
  padding: 34px 0 34px;
}

.form__fieldset--petinfo .form__label,
.form__fieldset--contacts .form__label,
.form__fieldset--comments .form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button {
  max-height: 52px;

  @media (min-width: $tablet-width) {
    max-width: 282px;
  }

  @media (min-width: $desktop-width) {
    max-width: 562px;
  }
}

.form__fieldset--additional {
  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset--additional .form__label {
  @media (min-width: $tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
  }
}

.form__fieldset--petinfo {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.form__fieldset--programms {
  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}
