.form {
  @include form-text;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.form__input {
  @include form-text;
  border: 1px solid $input-border;

  &--petname,
  &--weight,
  &--age {
    width: auto;
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    height: 52px;
  }
}

.form__input:hover {
  border-color: $special-grey-2;
}

.form__input:focus,
.form__input:active {
  outline: none;
  border-color: $special-dark-grey;
}

.form__label {
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form__fieldset--petinfo .form__input {
  height: 45px;
  padding: 13px 15px;
  box-sizing: border-box;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 16px;
    height: 52px;
    padding-left: 20px;
  }
}

.form__fieldset--petinfo .form__label {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 14px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 20px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    margin: 0 0 20px auto;
  }
}

.form__textarea {
  @include form-text;
  padding: 10px 15px;
  padding-right: 12px;
  box-sizing: border-box;
  height: 150.5px;
  border: 1px solid $input-border;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    padding-left: 17px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
  }
}

.form__note {
  @include text-content;
  line-height: 16px;
  text-transform: none;
  color: $basic-black;
  margin: 20px 0 45px 82px;
  display: block;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: flex-start;
    margin: 17px 0 20px 30px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-right: 36px;
    padding: 0 30px 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.form__fieldset--petinfo,
.form__fieldset--petinfo .form__input::placeholder {
  color: $special-dark-grey;
}

.form__fieldset--programms {
  position: relative;
  padding: 0 15px 10px;


  &::after {
    @include line-element;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    @include line-element;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $line-color;
    padding: 20px 0 18px 24px;
    margin: 0 auto 60px;
    width: calc(100% - 140px);
    max-width: 900px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    margin: 0 0 25px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 568px;
    box-sizing: border-box;
    height: min-content;
  }
}

.form__fieldset--programms .form__label--radio {
  position: relative;
  padding: 10px 10px 10px 50px;
  max-width: 600px;
  margin: 6px auto 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0 0 2px;
    padding: 16px 15px 16px 60px;
  }

  @media (min-width: $desktop-width) {
    width: 485px;
    margin-bottom: 2px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $basic-black;
  padding: 0 20px 0;
  margin-left: -20px;

  @media (min-width: 680px) {
    margin-left: calc((100% - 640px) / 2);
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin-left: -40px;
  }

  @media (min-width: 1035px) {
    margin-left: calc((100% - 980px) / 2);
  }

  @media (min-width: $desktop-width) {
    margin-left: calc((100% - 1300px) / 2);
  }
}

.form__input--radio,
.form__input--checkbox {
  margin-right: 15px;
  margin-bottom: 13px;
}

.form__fieldset--contacts {
  padding-top: 68px;
  padding-bottom: 15px;
  color: $special-dark-grey;
  //position: relative;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    margin-bottom: 31px;
    margin-right: 0;
    padding-right: 65px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding: 90px 110px 0 calc((100% - 1220px) / 2);
    margin-top: 17px;
    margin-bottom: 40px;
  }

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__fieldset--contacts .form__input {
  height: 45px;
  padding: 13px 15px;
  box-sizing: border-box;
  margin-left: 11px;

  &--email {
    width: auto;
    flex-grow: 1;

    @media (min-width: $tablet-width) {
      margin-left: 20px;
      padding: 13px 20px;
    }
  }

  &--tel {
    width: auto;
    flex-grow: 1;

    @media (min-width: $tablet-width) {
      margin-left: 15px;
      padding: 13px 20px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.form__fieldset--contacts .form__label {
  margin: 0 auto 13px;
  position: relative;
  width: 100%;
  max-width: 600px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 20px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px;
    flex-basis: 50%;

    &:nth-of-type(1) {
      margin-right: 78px;
    }
  }
}

.form__fieldset--contacts .form__legend {
  /*position: absolute;
  left: 20px;
  top: -20px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    left: 70px;
    top: -20px;
  }*/

  @media (min-width: $desktop-width) {
    margin-left: -45px;
  }
}

.form__fieldset--comments {
  padding-top: 35px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    margin-bottom: 40px;
    margin-right: 0;
    padding-right: 65px;

    & .form__legend {
      padding-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 68px 110px 23px;
    margin-bottom: 43px;
  }
}

.form__fieldset--additional {
  padding: 25px 20px 25px;

  @media (min-width: $tablet-width) {
    padding: 42px 30px 30px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0;

    & .form__legend {
      padding-bottom: 10px;
      margin-left: -36px;
    }
  }

  @media (min-width: 1035px) {
    padding-left: calc((100% - 900px) / 2);
  }

  @media (min-width: $desktop-width) {
    padding: 40px 110px 15px calc((100% - 1220px) / 2);
    justify-content: space-between;
  }
}

.form__fieldset--petinfo .form__label,
.form__fieldset--contacts .form__label,
.form__fieldset--comments .form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button {
  max-height: 52px;
  width: 100%;
  max-width: 282px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    max-width: 282px;
    margin: 0;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
    margin-left: 110px;
  }
}

.form__fieldset--additional .form__label {
  @media (min-width: $tablet-width) {
    //flex-basis: 40%;
    width: 221px;

    &:nth-of-type(odd) {
      margin-right: 44px;

      @media (min-width: $desktop-width) {
        margin-right: 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    width: 190px;
  }
}

.form__fieldset--petinfo {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-right: 40px;
    padding-left: 0;
    padding-right: 0;
    width: 679px;
    box-sizing: border-box;
    margin-left: auto;
  }
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $basic-white;
  top: 4px;
  left: 5px;
  box-shadow: 0 0 0 1px $special-grey-2;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
  }
}

.form__input--radio:checked + .form__label--radio::before {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: $basic-green;
  border: 8px solid $basic-white;
  top: 4px;
  left: 5px;
  box-shadow: 0 0 0 1px $special-grey-2;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    border: 11px solid $basic-white;
    top: 5px;
    left: 5px;
  }
}

.form__input--radio:hover + .form__label--radio::before {
  box-shadow: 0 0 0 1px $grey-hover;
}

.form__input--radio:checked:hover + .form__label--radio::before {
  box-shadow: 0 0 0 1px $grey-hover;
}

.form__input--radio:checked:disabled + .form__label--radio::before,
.form__input--checkbox:checked:disabled + .form__label--checkbox::before,
.form__input--radio:disabled + .form__label--radio::before,
.form__input--checkbox:disabled + .form__label--checkbox::before {
  opacity: 0.3;
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  //box-sizing: border-box;
  border: 1px solid $special-grey-2;
  background: $basic-white;
  left: 5px;
  top: 6px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: 4px;
    left: 5px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input--checkbox:focus + .form__label--checkbox,
.form__input--radio:focus + .form__label--radio {
  outline: 1px solid $basic-green;
  outline-offset: -1px;
}

.form__label--checkbox {
  padding: 10px 10px 10px 45px;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 5px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    box-sizing: content-box;
    padding: 16px 15px 16px 59px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 45px;
    padding-right: 0;
  }
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--checkbox:checked:hover + .form__label--checkbox::before {
  border-color: $grey-hover;
}


.form__fieldset--contacts svg {
  position: absolute;
}

.form__label--email svg {
  right: 15px;
  width: 20px;
  height: 14px;
  stroke: $special-dark-grey-2;
  fill: none;

  @media (min-width: $tablet-width) {
    right: 17px;
  }
}

.form__label--tel svg {
  right: 13px;
  width: 20px;
  height: 20px;
  fill: $basic-black;

  @media (min-width: $tablet-width) {
    right: 17px;
  }
}

.form__input--tel:active ~ svg,
.form__input--tel:focus ~ svg {
  fill: $basic-green;
}

.form__input--email:focus ~ svg {
  stroke: $basic-green;
}

.form__fieldset--contacts,
.form__fieldset--comments,
.form__fieldset--additional {
  border-top: 2px solid $basic-green;
}

.form__input[required]:invalid:not(:placeholder-shown) {
  border: 1px solid $status-error;

  & ~ .form__svg--tel {
    fill: $status-error;
  }

  & ~ .form__svg--email {
    stroke: $status-error;
  }
}

.form__input[required]:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid $status-error;

  & ~ .form__svg--tel {
    fill: $status-error;
  }

  & ~ .form__svg--email {
    stroke: $status-error;
  }
}
