.form {
  @include form-text;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__input {
  @include form-text;
  border: 1px solid $input-border;

  &--petname,
  &--weight,
  &--age {
    width: auto;
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.form__input:hover {
  border-color: $special-grey-2;
}

.form__input:focus, .form__input:active {
  outline: none;
  border-color: $special-dark-grey;
}

.form__label {
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
.required {
  border-color: $status-error;
}

.form__fieldset--petinfo .form__input {
  height: 45px;
  padding: 13px 15px;
  box-sizing: border-box;
  margin-left: 13px;
}

.form__fieldset--petinfo .form__label {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }
}

.form__textarea {
  @include form-text;
  padding: 10px 15px;
  padding-right: 12px;
  box-sizing: border-box;
  height: 150.5px;
  border: 1px solid $input-border;
  width: auto;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
  }

.form__note {
  @include text-content;
  line-height: 16px;
  text-transform: none;
  color: $basic-black;
  margin: 21px 61px 32px;
  display: block;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: flex-start;
    margin: 21px 0 32px;
  }
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }
}

.form__fieldset--petinfo,
.form__fieldset--petinfo .form__input::placeholder {
  color: $special-dark-grey;
}

.form__fieldset--programms {
  position: relative;
  padding: 11px 0 22px;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }

  &::after {
    @include line-element;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-top: 15px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &::before {
    @include line-element;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $line-color;
    padding: 25px 0 10px 29px;
    margin-bottom: 75px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__input--radio,
.form__input--checkbox {
  margin-right: 15px;
  margin-bottom: 13px;
}

.form__fieldset--contacts {
  padding-top: 35px;
  padding-bottom: 12px;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }

  & br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__fieldset--contacts .form__input {
  height: 45px;
  padding: 13px 15px;
  box-sizing: border-box;
  margin-left: 11px;

  &--email {
    width: auto;
    flex-grow: 1;
  }

  &--tel {
    width: auto;
    flex-grow: 1;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
  }
}

.form__fieldset--contacts .form__label {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}

.form__fieldset--comments {
  padding-top: 37px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    margin-bottom: 65px;
  }
}

.form__fieldset--additional {
  padding: 40px 0 17px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset--petinfo .form__label,
.form__fieldset--contacts .form__label,
.form__fieldset--comments .form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__button {
  max-height: 52px;
  width: 100%;
  max-width: 282px;

  @media (min-width: $tablet-width) {
    max-width: 282px;
  }

  @media (min-width: $desktop-width) {
    max-width: 562px;
  }
}

.form__fieldset--additional .form__label {
  @media (min-width: $tablet-width) {
    margin-right: 124px;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 25%;
  }
}

.form__fieldset--petinfo {
  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.form__input--radio:checked + .form__label--radio::before {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: $basic-green;
  border: 8px solid $basic-white;
  top: -7px;
  left: -45px;
  box-shadow: 0 0 0 1px $special-grey-2;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    border: 11px solid $basic-white;
    top: -10px;
    left: -61px;
  }
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $basic-white;
  top: -7px;
  left: -45px;
  box-shadow: 0 0 0 1px $special-grey-2;

  @media (min-width: $tablet-width){
    width: 40px;
    height: 40px;
    top: -10px;
    left: -61px;
  }
}

.form__input--radio:hover + .form__label--radio::before {
  box-shadow: 0 0 0 1px $grey-hover;
}

.form__input--radio:checked:hover + .form__label--radio::before {
  box-shadow: 0 0 0 1px $grey-hover;
}

.form__input--radio:checked:disabled + .form__label--radio::before,
.form__input--checkbox:checked:disabled + .form__label--checkbox::before,
.form__input--radio:disabled + .form__label--radio::before,
.form__input--checkbox:disabled + .form__label--checkbox::before {
  opacity: 0.3;
}

.form__fieldset--programms .form__label--radio {
  position: relative;
  margin: 8px 0 15px 45px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 89px;
  }
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border: 1px solid $special-grey-2;
  background: $basic-white;
  left: -44px;
  top: -5px;

  @media (min-width: $tablet-width)  {
    width: 40px;
    height: 40px;
    top: -10px;
    left:  -55px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox.svg") no-repeat center;

  @media (min-width: $tablet-width)  {
    width: 40px;
    height: 40px;
  }
}

.form__label--checkbox {
  margin-left: 45px;
  position: relative;
  margin-bottom: 24px;

  @media (min-width: $tablet-width)  {
    margin-bottom: 55px;
    margin-left: 55px;
  }
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--checkbox:checked:hover + .form__label--checkbox::before {
  border-color: $grey-hover;
}

.form__fieldset--contacts .form__label {
  position: relative;
}

.form__fieldset--contacts svg {
  position: absolute;
}

.form__label--email svg {
  right: 15px;
  width: 20px;
  height: 14px;
}

.form__label--tel svg {
  right: 13px;
  width: 20px;
  height: 20px;
}

.form__label--tel:hover path {
  fill: $basic-green;
}

.form__label--email:hover {
  & line {
    stroke: $basic-green;
  }

  & path {
    stroke: $basic-green;
  }
}
