.header-logo-img {
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}

.header-logo-text {
  width: 101px;
  height: 18px;
  padding-top: 3px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
