.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $menu-line;

  @media (min-width: $tablet-width) {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    max-width: 610px;
    padding-bottom: 7px;
    margin-left: auto;
  }
}

.menu-list__link {
  text-decoration: none;

  @include medium-text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include regular-text;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.menu-list__link--main {
  @media (min-width: $desktop-width) {
    color: $basic-white;
    padding: 0 0 10px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.menu-list__item {
  padding: 22px 0 20px;
  text-align: center;
  border-top: 1px solid $menu-line;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 5px;
  }
}

.menu-list__item--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $basic-green;
  }
}

.menu-list__item--current.menu-list__item--main {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}
