.page-footer {
  background: $basic-grey;
}

.page-footer__wrapper {
  background: $basic-grey;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1220px 1fr;
    //padding: 0 110px;
    padding: 0;
    //max-width: 1440px;
    margin: 0 auto;
  }
}

.page-footer__logo {
  background-color: $basic-grey;
  text-align: center;
  border-bottom: 1px solid $line-color;
  padding-top: 39px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 1/2;
    border-bottom: none;
    padding-top: 55px;
    padding-bottom: 61px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    padding-top: 57px;
    padding-bottom: 58px;
    width: 406px;
    justify-self: flex-start;
  }
}

.page-footer__social {
  background-color: $basic-grey;
  border-bottom: 1px solid $line-color;
  padding-top: 20px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    grid-row: 2/3;
    grid-column: 2/3;
    padding-top: 50px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    padding-top: 57px;
    padding-bottom: 58px;
    width: 406px;
    justify-self: center;
  }
}

.page-footer__copyright {
  background-color: $basic-grey;

  padding-top: 22px;
  padding-bottom: 22px;
  max-width: 550px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 3/4;
    padding-top: 48px;
    padding-bottom: 61px;
    justify-self: flex-end;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    padding-top: 57px;
    padding-bottom: 58px;
    width: 406px;
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
  }
}

.page-footer__logo:hover svg {
  fill-opacity: 0.8;
}

.page-footer__logo:active svg {
  fill-opacity: 0.6;
}
