.process {
  background-color: $basic-white;
  margin-top: 27px;
  margin-bottom: 42px;
}

.process__wrapper {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.process__title {
  @include title;
  margin-bottom: 38px;
  text-transform: none;
}

.process__steps {
  list-style: none;
  padding: 0;
  margin: 0;

  @include text-content;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
    column-gap: 70px;
  }
}

.process__item {
  margin-left: 20px;
  margin-bottom: 20px;
}
