.product-list-additional {
  margin: 0;
  padding: 0 20px 39px;
}

.catalog__title--additional {
  font-size: 24px;
  line-height: 24px;
  margin: 25px 20px 36px;
}

.product-item__info {
  @include text-content;
  line-height: 14px;
  margin-bottom: 15px;
}

.product-item__quantity,
.product-item__cost {
  padding: 0;
}

.product-item--additional {
  padding: 13px 0 19px;
  border-bottom: 1px solid $special-grey-2;

  &:nth-of-type(1) {
    border-top: 1px solid $special-grey-2;
  }
}

.product-item__title--additional {
  @include regular-text;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 13px;
}
