.programms {
  background-color: $basic-white;
}

.programms__wrapper {
  box-sizing: border-box;
  padding: 22px 20px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    padding-top: 70px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.programms__item {
  width: 100%;
  box-sizing: border-box;
  background-color: $basic-grey;
  padding: 30px 20px 20px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 75px 0 60px 53px;
    width: 100%;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
    width: 100%;
  }
}

.programm__title {
  @include regular-text;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px;
  }
}

.programms__item--slim .programm__title::before {
  content: "";
  width: 50px;
  height: 53px;
  float: left;
  background: url("../img/icon-slim.svg") no-repeat;
  margin-right: 19px;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    background-size: 200px;
    float: right;
    margin-right: 61px;
    margin-left: 20px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
    background-size: 100px;
    float: left;
    margin-top: -35px;
    margin-left: 0;
  }
}

.programms__item--muscles .programm__title::before {
  content: "";
  width: 67px;
  height: 50px;
  float: left;
  margin: -6px 11px 0 -7px;
  background: url("../img/icon-fit.svg") no-repeat;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    background-size: 268px;
    float: right;
    margin-right: 30px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    background-size: 134px;
    float: left;
    margin-top: -30px;
    margin-left: -20px;
    margin-right: 47px;
  }
}

.programm__description {
  @include text-content;

  &::after {
    @include line-element;
    width: 240px;
    margin: 20px 0 20px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;

    br {
      display: inline-block;
    }
  }

  @media (min-width: $desktop-width) {
    & br {
      display: none;
    }

    padding-bottom: 28px;
  }
}

.programm__link {
  @include regular-text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
  }

  &:active {
    opacity: 0.3;
  }
}

.programm__link svg {
  width: 24px;
  margin-left: 15px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 24px;
  }
}

.programm__link:hover svg {
  width: 32px;
  transition: width 500ms;
}

.programms__item--slim {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}
