.programm-search__wrapper {
  padding: 0 20px;
  max-width: 600px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 66px 0 70px;
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1440px;
  }
}

.programm-search__title {
  @include regular-text;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top:55px;
    margin-bottom: 55px;
  }
}

.programm-search__lead {
  @include regular-text;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
