.programms {
  background-color: $basic-white;
}

.programms__wrapper {
  margin: 22px 20px 0;

  @media (min-width: $tablet-width) {
    margin: 22px 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 22px 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.programms__item {
  min-width: 280px;
  box-sizing: border-box;
  background-color: $basic-grey;
  padding: 30px 20px 23px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 0 55px 53px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 51px 55px 52px;
    width: 570px;
  }
}

.programm__title {
  @include regular-text;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.programm__description {
  @include text-content;

  &::after {
    @include line-element;
    width: 240px;
    margin: 33px 0 15px;
  }
}

.programm__link {
  @include regular-text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $basic-black;
}
