.programm-search__wrapper {
  max-width: 600px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 900px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.programm-search__title {
  @include regular-text;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin-top: 27px;
  margin-bottom: 37px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
    margin-left: 110px;
  }
}

.programm-search__lead {
  @include regular-text;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    margin-left: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
  }
}
