.promo {
  background: url("../img/mask.png") repeat-x, url("../img/bg-main-s.jpg") no-repeat;
  background-size: 320px 302px, cover 302px;
  background-position: top, 65% 0;
  position: relative;

  @media (min-width: 563px) {
    background-size: 100% 302px;
  }

  @media (min-width: $tablet-width) {
    background: $basic-white;
    z-index: -2;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      width: 720px;
      height: 694px;
      background: url("../img/bg-main-l.png") no-repeat;
      position: absolute;
      top: -147px;
      right: 0;
      z-index: -1;
    }
  }
}

.promo__wrapper {
  text-align: center;
  padding-top: 27px;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    text-align: left;
    margin: 0 30px;
    padding: 0 87px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    padding: 0 80px;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: min-content min-content;
  }
}

.promo__title {
  @include regular-text;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $basic-white;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    grid-row: 1/2;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    grid-column: 1/2;
  }
}

.promo__slogan {
  @include regular-text;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    grid-column: 1/2;
  }
}

.promo__programms {
  margin: 0 auto;
  grid-row: 3/4;
  grid-column: 1/2;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 244px;
    height: 54px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-end;
    grid-column: 1/2;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    justify-self: center;
    grid-row: 3/5;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {

    grid-column: 2/3;
    grid-row: 1/4;
  }
}
