.promo-gift {
  background: url("../img/gift-bg.png") no-repeat top;
  background-size: cover;
  background-position-y: 70%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  min-width: 245px;
  margin: 0 0 13px;

  &::before {
    content: "";
    background: url("../img/gift-icon.svg");
    width: 78px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: 58px auto 0;

    @media (min-width: $tablet-width) {
      margin-left: 78px;
    }

    @media (min-width: $desktop-width) {
      margin-left: auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0 0 76px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    width: 245px;
    height: 289px;
    margin: 0 0 0 79px;
  }
}

.promo-gift__text {
  @include text-content;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  display: block;
  padding: 186px 61px 43px 58px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    padding: 71px 124px 69px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 185px 43px 42px 41px;
    text-align: center;
  }
}
