.promo {
  background: url(../img/promo-foodpack.png) no-repeat, linear-gradient($green-mask 63%, $basic-white 63%), url(../img/bg-main.jpg) no-repeat;
  background-position: center 165px, top, top;
  height: 480px;
  position: relative;
  box-sizing: border-box;
}
.promo__wrapper {
  text-align: center;
  padding-top: 27px;

}
.promo__title {
  @include regular-text;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $basic-white;
  margin: 0;
  margin-bottom: 25px;
}
.promo__slogan {
  @include regular-text;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
}
.promo__programms {
  position: absolute;
  bottom: 0;
  left: 20px;
}
