.slider__controls {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    width: 590px;
  }
}
.hidden {
  display: none;
}

.slider__input + .slider__label {
  position: relative;
  display: block;
  width: 84px;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-grey-2;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 15px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
.slider__input + .slider__label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;
  top: 3px;
  left: 5px;
}
.slider__input:checked + .slider__label::before {
  transform: translateX(35px);
}

.slider__before,
.slider__after {
  @include regular-text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 320px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
    align-self: flex-end;
  }
}

.slider__range {
  -webkit-appearance: none;
  outline: none;
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    width: 428px;
    background: $special-light-grey;
  }
  @media (min-width: $desktop-width) {
    background: $basic-grey;
  }
}
.slider__range::-webkit-slider-runnable-track {
  height: 6px;
  background: $special-grey-2;
  border-radius: 6px;
  outline: none;

}
.slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 34px;
  height: 34px;
  background-color: $basic-green;
  border: 13px solid $basic-white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  position: relative;
  top: -15px;
  outline:none;
}
