.slider__controls {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    width: 590px;
    margin: 0 auto;
    position: absolute;
    bottom: 80px;
  }
}

.slider__catlook-before,
.slider__catlook-after {
  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0;
  }
}

.hidden {
  display: none;
}

.slider__input + .slider__label {
  position: relative;
  display: block;
  width: 84px;
  height: 14px;
  background: $basic-white;
  border: 1px solid $special-grey-2;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 15px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__input + .slider__label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background: $basic-green;
  border-radius: 6px;
  top: 3px;
  left: 5px;
}

.slider__input:checked + .slider__label::before {
  transform: translateX(35px);
}

.slider__before,
.slider__after {
  @include regular-text;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px dotted $basic-black;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    height: 620px;
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/5;
    align-self: flex-end;
  }
}

.slider__photos {
  @media (min-width: $tablet-width) {
    display: inline-block;
    position: relative;
    width: 677px;
    background: linear-gradient(to top, $special-light-grey 462px, $basic-white 462px);
    padding-bottom: 120px;
  }
}

.slider__range {
  appearance: none;
  outline: none;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 428px;
    background: $special-light-grey;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    background: transparent;
  }
}

.slider__range::-webkit-slider-runnable-track {
  height: 6px;
  background: $special-grey-2;
  border-radius: 6px;
  outline: none;
}

.slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 34px;
  height: 34px;
  background-color: $basic-green;
  border: 13px solid $basic-white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px $special-grey-2,
    0 2px 1px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  top: -15px;
  outline: none;

  &:hover {
    box-shadow: 0 0 0 1px $special-grey-2,
      0 2px 4px 0 rgba(0, 0, 0, 0.19);
  }

  &:active {
    box-shadow: 0 0 0 1px $basic-green,
      0 3px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.slider__after:hover,
.slider__before:hover {
  border-bottom: 1px solid $basic-black;
}

.slider__catlook-before {
  @media (min-width: $tablet-width) {
    width: 677px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -30px;
  }
}

.slider__catlook-after {
  @media (min-width: $tablet-width) {
    width: 545px;
    height: 520px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 65px;
  }
}

.slider__photos > div {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
    background: linear-gradient(to top, $special-light-grey 462px, $basic-white 2px, $basic-white);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to top, $basic-grey 462px, $basic-white 462px, $basic-white);
  }
}

.slider__photos img {
  @media (min-width: $tablet-width) {
    display: block;
    user-select: none;
    height: 520px;
  }
}
