.social__link {
  padding: 0;
  margin: 0;
}

.social__link--vkontakte {
  padding: 0 20px 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0 15px 0 15px;
  }

  & svg {
    width: 23px;
    height: 16px;
    fill: $special-grey-3;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }
}

.social__link--instagram {
  padding: 0 15px 0 15px;

  @media (min-width: $tablet-width) {}

  & svg {
    width: 16px;
    height: 16px;
    fill: $special-grey-3;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }
}

.social__link--facebook {
  padding: 0 15px 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 25px 0 5px;
    width: 28px;
    height: 33px;
  }

  & svg {
    width: 22px;
    height: 22px;
    stroke: $special-grey-3;
    fill: $basic-white;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;
    }
  }
}

.social__link--vkontakte:hover svg,
.social__link--instagram:hover svg {
  fill: $basic-green;
}

.social__link--facebook:hover svg {
  stroke: $basic-green;
}

.social__link--vkontakte:active svg,
.social__link--instagram:active svg {
  fill: $basic-green;
  fill-opacity: 0.3;
}

.social__link--facebook:active svg {
  stroke: $basic-green;
  opacity: 0.3;
}

.social__list {
  width: fit-content;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
