@mixin text-content {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
  margin: 0;
  padding: 0;
}

@mixin title {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  color: $basic-black;
  margin: 0;
  padding: 0;
}

@mixin regular-text {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
}

@mixin medium-text {
  font-family: "Oswald Medium", sans-serif;
  font-weight: 500;
}

@mixin line-element {
  content: "";
  display: block;
  width: 280px;
  height: 1px;
  background-color: $line-color;
}

@mixin form-text {
  font-family: "Oswald Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
