$basic-green: #68B738;
$basic-green-2: #5EAA2F;
$basic-grey: #F2F2F2;
$special-grey: #EBEBEB;
$special-grey-2: #CDCDCD;
$special-grey-3: #666666;
$special-light-grey: #eaeaea;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$status-error: #FF8282;
$basic-white: #FFFFFF;
$basic-black: #000000;
$line-color: #d9d9d9;
$menu-line: #E6E6E6;
$green-mask: rgba(104, 183, 56, 0.85);
